body {
  background-color: black;
  color: white;
}
h1, p {
  background-color: white;
  color: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
